/* @group general */
* {
	font-family: Trebuchet MS, Verdana, Arial ;
	font-size: 14px;
	color: #222;
}

/* unvisited link */
a:link {
    color: #09357b; text-decoration:none
}

/* visited link */
a:visited {
    color:#220044; text-decoration:none
}

/* mouse over link */
a:hover {
    color:#bb0000; background-color:#eeeeee; text-decoration:overline underline
}

div.name {
	padding: 10px 0px;
}
	div.name h1 a {
		font-size: 48px;
		text-decoration: none;
		color: #0e2d41;
	}
	
div.menu {
	padding-top: 10px;
}	
	div.menu ul {
		float: right;
		display: block;
		overflow: hidden;
	}	
		div.menu ul li {
			display: block;
			float: right;
			overflow: hidden;
		}
			div.menu ul li a {
				display: block;
				background: #cdd7de;
				text-decoration: none;
				margin: 5px;
				padding: 10px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
			}
			div.menu ul li a:hover {
				background: rgb(56, 153, 188);
				color: #cdd7de;
			}
			
			
			
			
div.title {
	margin: 20px 0px;
	padding: 8px;
	border: 1px solid #ccc;
}	
	div.title h2 {
		color: #b4804d;
		font-size: 20px;
		font-weight: normal;
	}
div.content_text p {
	color: #000;
	font-size: 14px;
	line-height: 160%;
}	



div.footer {
	margin: 20px 0px;
	background: #ccc;	
}
	div.footer p {
		padding: 30px;
		font-size: 12px;
		text-align: center;
	}
	
	
	
ul.mylist {
	display: block;
	margin-left: 30px;
	margin-top: 10px;
	list-style: circle;
}	
	ul.mylist li {
		margin: 7px 0px;
		font-size: 15px;
	}
